// _custom.scss

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #CB2020;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  background-color: #CB2020;
}